## Pandas series and dataframe

In [2]:
import pandas as pd

In [4]:
students_data  = dict(business = 25, AI = 30, JS = 30, JAVA = 27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [8]:
series_program = pd.Series(students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [9]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [10]:
series_program.iloc[0], series_program.iloc[-1]

(np.int64(25), np.int64(27))

In [12]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [14]:
series_program["AI"]

np.int64(30)

In [16]:
print(series_program["AI"])

30

In [17]:
series_program["AI"] + 50

np.int64(80)

**another series using list**

In [21]:
import random as rnd
rnd.seed(42)

dice_list = [rnd.randint(1,6) for _ in range(5)]
dice_list

[6, 1, 1, 6, 3]

In [24]:
dice_series = pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [27]:
dice_series.min(), dice_series.max(), dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

## Dataframe

- analog of 2D numpy array with flexible row indices and col names

In [29]:
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [33]:
df_programs = pd.DataFrame(series_program, columns=("Num students",))
df_programs

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [38]:
#create 2 series objects using dictionary
students = pd.Series(dict(AI=25, NET=30, APP= 30, Java= 27))
language = pd.Series(dict(AI= "Python", NET = "C#", APP="Kotlin", Java = "Java"))

In [39]:
students

AI      25
NET     30
APP     30
Java    27
dtype: int64

In [40]:
language

AI      Python
NET         C#
APP     Kotlin
Java      Java
dtype: object

In [43]:
pd.DataFrame({"Students": students, "Language": language})

      Students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [ ]:
import numpy as np

pd.DataFrame(
    {
        "Students": np.array((25,30,30,27)),
        "Language":[]
    }
)
#14:57 into the video Pandas series and dataframe(coding)